################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/create-or-replace-tag-dotnet/bin/Debug/net5.0
/create-or-replace-tag-dotnet/obj
